.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    background: #fff url("http://s32.postimg.org/5g2lp1k4j/background.jpg");
    background-size: cover;
    background-position: center top;
    background-attachment: initial;
//    margin-top: -20px;
    height: 100vh;
//    -webkit-animation: mymove 20s infinite; /* Chrome, Safari, Opera */
//        animation: mymove 20s infinite;
    }

/*    /* Chrome, Safari, Opera */
//    @-webkit-keyframes mymove {
//        80% {background-position: 0px -200px;}
//    }

    /* Standard syntax */
//    @keyframes mymove {
//        80% {background-position: 0px -200px;}
//    }



#banner h1 {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    color: #222328;
    letter-spacing: 0.01em;
}
#banner p {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  color: #222328;
  padding-top: 12px;
  line-height: 1.6em;

}
.hero-text {
  margin-top: 15%;
}
.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
//    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}
#hero-button  {
  width: 160px;
  height: 44px;
  border-radius: 30px;
  border: none;
  background-color: #9365b8;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  display: block;
  padding-top: 13px;
  margin: auto;
  margin-top: 10px;
}
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
}
