<div class="row">
    <div class="">
        {{message}}
    </div>
    <div class="col-lg-12">
        <div class="pull-left">
            <h1 class="page-header">Documents</h1>
        </div>
        <div class="pull-right">
            <button type="button" name="new-case" ng-click="new();">New Document</button>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-tabs nav-stacked col-md-8 col-md-offset-2" ng-repeat="doc in documents">
      <li><a href="#" tooltip="{{doc.info}}" ng-click="editCase(doc._id)">{{doc.name}}</a></li>
    </ul>
  </div>
</div>
